body {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FCF1D7;
    overflow: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1rem 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Title Styles */
.title {
    text-align: center;
    margin-bottom: 2rem;
}

.title-text {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;

}

/* スクロールバー非表示 */
::-webkit-scrollbar {
    display: none;
}

.sp-only {
    display: none;
}



@media (max-width: 991.98px) {
    .sp-only {
        display: inline;
    }

    .pc-only {
        display: none;
    }
}

/* レスポンシブ切り替え用 */
.pc-timetable {
    display: none;
}

.mobile-timetable {
    display: none;
}

@media (min-width: 769px) {
    .pc-timetable {
        display: block;
    }
}

@media (max-width: 768px) {
    .mobile-timetable {
        display: block;
    }
}