.calendar-icon {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: #FFF;
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 12px;
}

.calendar-icon svg {
    width: 45px;
    height: 45px;
}

.hamburger {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 85px;
    height: 85px;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    z-index: 1;
    padding: 10px;
}

.hamburger-line {
    display: block;
    width: 32px;
    height: 2px;
    background-color: #FB8F55;
    transition: all 0.5s ease;
}

.week-button {
    background-color: #FB8F55;
    color: #FFF;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 20%;
    font-size: 14px;
    line-height: 1.2;
    padding: 5px;
    z-index: 1;
}

.week-button-text {
    font-size: 14px;
    margin-bottom: 2px;
}

.week-button-arrow {
    font-size: 24px;
    font-weight: bold;
}

.prev-week-button {
    left: 5px;
}

.next-week-button {
    right: 5px;
}

@media (max-width: 767.98px) {
    .calendar-icon {
        width: 55px;
        height: 55px;
        padding: 20px;
    }

    .calendar-icon svg {
        width: 40px;
        height: 40px;
    }

    .hamburger {
        width: 55px;
        height: 55px;
        padding: 12px;
    }

    .hamburger-line {
        width: 24px;
        height: 2px;
    }
}

@media (max-width: 575px) {
    .calendar-icon {
        width: 35px;
        height: 35px;
        padding: 25px;
        left: 0.3rem;
        top: 1.5rem;
    }

    .calendar-icon svg {
        width: 40px;
        height: 40px;
    }

    .hamburger {
        width: 47px;
        height: 47px;
        padding: 14px;
        right: 0.3rem;
        top: 1.6rem;
    }

    .hamburger-line {
        width: 30px;
        height: 2px;
    }
}